<div class="card" *ngIf="summaryChart.schoolWithLesson!=[]">
    <div class="card-body">
        <h5 class="card-title text-center">{{summaryChart?.totalNumberOfLessons}} Lessons</h5>
        <h6 class="card-title text-center">in {{summaryChart?.selectedCamp}}</h6>
        <hr>
        <div *ngFor="let item of summaryChart?.schoolWithLesson">
            <span>
                <input type="radio" (click)="ShowOrHideChartLine(item.schoolName)">
                <p class="card-text">{{item.totalLessonsNumberOfThisSchool}} Lessons</p>
            </span>
            <p class="card-text">in {{item.schoolName}}</p>
        </div>
    </div>
</div>