<div class="" *ngIf="summaryChart.schoolWithLesson!=[]">
  
  <div class="summary_Header">
        <h5 class="card-title ">{{summaryChart?.totalNumberOfLessons}} Lessons</h5>
        <h6 class="card-text ">in {{summaryChart?.selectedCamp}}</h6>
      </div>
        <div *ngFor="let item of summaryChart?.schoolWithLesson">
            <span>
                <div class="radio-list">
                    <label class="radio" [for]="item.schoolName">
                      
         
                      <input class="radio__toggle" checked="checked" type="checkbox" (click)="ShowOrHideChartLine(item.schoolName)">
                      <span class="radio__span">
                        {{item.totalLessonsNumberOfThisSchool}} Lessons
                         <p class="card-text">in {{item.schoolName}}</p>
                      </span>
                    </label>
                  </div>
            </span>
           
        </div>

</div>

