<div class="container">

  

    <div class="card" >
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Chart Point Details</h5>

            </div>
            <div class="col-md-6">
                <button class="btn btn-primary bkBtn" [routerLink]="'/dashboard'"><i class="fa fa-arrow-left" ></i>
                    Back </button>
            </div>
        </div>
        <hr>
        <div class="card-body" *ngIf="chartPointDetails.id!=''">

            <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Country</label>
                  <input type="text" readonly value="{{chartPointDetails.country}}" class="form-control" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Camp</label>
                  <input type="text" readonly value="{{chartPointDetails.camp}}" class="form-control" >
                </div>
              </div>

              
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">School</label>
                  <input type="text" readonly value="{{chartPointDetails.school}}" class="form-control" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Lessons</label>
                  <input type="text" readonly value="{{chartPointDetails.lessons}}" class="form-control" >
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Month</label>
                  <input type="text" readonly value="{{chartPointDetails.month}}" class="form-control" >
                </div>
            
              </div>           
        </div>
    </div>
</div>

