<div class="container">
    <button class="btn" [routerLink]="'/dashboard'"><i class="fa fa-arrow-left" >Back</i></button>

    <div class="card" *ngIf="chartPointDetails.id!=''">
        <h5 class="card-title text-center">Chart Point Details</h5>
        <hr>
        <div class="card-body">
            <table>
                <tr>
                    <td class="card-text">Country:</td>
                    <td class="card-text">{{chartPointDetails.country}}</td>
                </tr>
                <tr>
                    <td class="card-text">Camp:</td>
                    <td class="card-text">{{chartPointDetails.camp}}</td>
                </tr>
                <tr>
                    <td class="card-text">School:</td>
                    <td class="card-text">{{chartPointDetails.school}}</td>
                </tr>
                <tr>
                    <td class="card-text">Lessons:</td>
                    <td class="card-text">{{chartPointDetails.lessons}}</td>
                </tr>
                <tr>
                    <td class="card-text">Month:</td>
                    <td class="card-text">{{chartPointDetails.month}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>