


<div  class="row colored">
    <div class="col-md-12">
        <h1>Analysis Chart</h1>
        <header class="d-flex align-items-center  border-bottom">
            <p class="fs-4">number of lessons</p> 
            
     </header>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Countries DropDown List -->
        <label>Select Country</label>
        <app-drop-down-list [dropDownList]="countriesDropDownList" [selectedValue]="this.selectedCountry"></app-drop-down-list>
    </div>

    <div class="col-md-3">
        <!-- Camps DropDown List -->
        <label>Select Camp</label>
        <app-drop-down-list [dropDownList]="campsDropDownList" [selectedValue]="this.selectedCamp"></app-drop-down-list>
    </div>

    <div class="col-md-3">
        <!-- Schools DropDown List -->
        <label>Select School</label>
        <app-drop-down-list [dropDownList]="schoolsDropDownList" [selectedValue]="this.selectedSchool"></app-drop-down-list>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <app-analytic-chart></app-analytic-chart>
    </div>

    <div class="col-md-4 chartjs-border">
      <app-chart-summary ></app-chart-summary>
    </div>
</div>
