<div class="row">
    <div class="col-md-3">
        <!-- Countries DropDown List -->
        <label>Select Country</label>
        <app-drop-down-list [dropDownList]="countriesDropDownList"></app-drop-down-list>
    </div>

    <div class="col-md-3">
        <!-- Camps DropDown List -->
        <label>Select Camp</label>
        <app-drop-down-list [dropDownList]="campsDropDownList"></app-drop-down-list>
    </div>

    <div class="col-md-3">
        <!-- Schools DropDown List -->
        <label>Select School</label>
        <app-drop-down-list [dropDownList]="schoolsDropDownList"></app-drop-down-list>
    </div>
</div>